@mixin element($name) {
  &__#{$name} {
    @content;
  }
}

@mixin modifier($name) {
  &--#{$name} {
    @content;
  }
}

@mixin clearfix(){
  &:after {
      content: "";
      display: table;
      clear: both;
  }
}