@keyframes hovertakeoff {
  0%   { transform:translateY(-35%);}
  100% { transform:translateY(-15%); }
}

.visual{
  @include element(container){
    transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  @include element(drone){
    transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
    position:relative;
    width:278px;
    height:78px;
    transform:translateY(0);
    &:before,
    &:after{
      transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 25px;
      left: 10px;
      width: 50%;
      height:1px;
      top: 80%;
      max-width:200px;
      background: transparent;
      box-shadow: 0 80px 20px #777;
      transform: rotate(-8deg);
    }
    &:after{
      transform: rotate(8deg);
      right: 10px;
      left: auto;
    }

    &.takeoff{
      transform:translateY(-25%);
      &:before,
      &:after {;
        box-shadow: 0 80px 20px #777;
      }
    }

    &.animTakeoff{
      animation: hovertakeoff 1s infinite alternate;
    }

    &.up{
      transform:translateY(-50%);
      &:before,
      &:after {
        top: 60%;
        box-shadow: 0 130px 20px #777;
      }
    }

    &.down{
      transform:translateY(0);
      &:before,
      &:after {
        top: 60%;
        box-shadow: 0 80px 20px #777;
      }
    }
    &.land{
      transform:translateY(75%);
      &:before,
      &:after {
        top: 60%;
        box-shadow: 0 35px 15px #000;
      }
    }

    &.forward{
      transform:translateY(-25%) scale(1.2);
    }

    &.backward{
      transform:translateY(-25%) scale(0.8);
    }

    //Left
    &.tiltRight{
      transform:translate(-50%,-25%) rotate(-10deg);
    }

    //Right
    &.tiltLeft{
      transform:translate(50%,-25%) rotate(10deg);
    }

    img{
      width:100%;
      height:auto;
      max-width:100%;
      display: block;
    }
  }
}