.info{
  @include element(details){
    float:left;
    width:50%;
  }
  @include element(console){
    float:left;
    width:50%;
  }


  @include element(column){

  }

  @include element(block){
    padding:10px;
    p{
      text-align:center;
    }
  }

  @include element(list){
    @include clearfix();
    list-style: none;
    margin:0;
    padding:0;
    text-align: center;
    display:flex;
    flex-wrap: wrap;

    li{
      flex-grow: 1;
      width: 25%;
    }

  }

  @include element(item){
    display:block;
    &:first-of-type{
      font-weight:700;
    }
  }

  @include element(items){
    display:block;
    padding:1em;
    margin:1em;
    min-height: 20vh;
    border:1px solid lightblue;
    border-top-width:1em;
  }
}


.list{
  @include element(label){
    display:block;
    background-color:#2F6FAD;
    color:white;
    padding:4px;
  }
  @include element(text){
    display:block;
    padding:4px;
  }
}