.header{
}

.footer{
}

.main{
  @include clearfix();
  position:relative;
  padding:1em;
}


.container{
  @include element(visual){

    position:relative;
    min-height:300px;
  }
  @include element(info){
    border:1px solid lightblue;
    padding:1em;
  }
}
