extend _layout

block content
    .container--visual
        .visual--drone
            | visual drone
    .container--info
        .info--details
            | details
        .info--console
            | console
    .console--info
        ul.info--actions
            li.actions--take-off take off
            li.actions--land land